@media all and (max-width: 556px) {
  .xs-width-col-1 {
    width: 8.33%;
  }
  .xs-width-col-2 {
    width: 16.66%;
  }
  .xs-width-col-3 {
    width: 25%;
  }
  .xs-width-col-4 {
    width: 33.33%;
  }
  .xs-width-col-5 {
    width: 41.66%;
  }
  .xs-width-col-6 {
    width: 50%;
  }
  .xs-width-col-7 {
    width: 58.33%;
  }
  .xs-width-col-8 {
    width: 66.66%;
  }
  .xs-width-col-9 {
    width: 75%;
  }
  .xs-width-col-10 {
    width: 80.33%;
  }
  .xs-width-col-11 {
    width: 91.66%;
  }
  .xs-width-col-12 {
    width: 100%;
  }
  .social-nav-container {
    display: none;
  }
  .navigation-list {
    display: none;
  }
  .slider-section {
    height: 38rem;
  }
  .break-span {
    font-size: 2em;
  }
  .slide-content {
    flex-direction: column-reverse;
  }
  .text-button {
    height: 35%;
    padding: 5px 25px;
  }
  .image-container {
    height: 65%;
  }
  .image-container {
    background-position: center center;
  }
  .image-one {
    background-position: center center;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: left center;
  }
  .slider-button {
    top: -255px;
  }
  .dots-container {
    right: 40%;
  }
  .previous {
    right: 1px;
  }
  .next {
    left: 1px;
  }
}
@media all and (min-width: 556px) {
  .sm-width-col-1 {
    width: 8.33%;
  }
  .sm-width-col-2 {
    width: 16.66%;
  }
  .sm-width-col-3 {
    width: 25%;
  }
  .sm-width-col-4 {
    width: 33.33%;
  }
  .sm-width-col-5 {
    width: 41.66%;
  }
  .sm-width-col-6 {
    width: 50%;
  }
  .sm-width-col-7 {
    width: 58.33%;
  }
  .sm-width-col-8 {
    width: 66.66%;
  }
  .sm-width-col-9 {
    width: 75%;
  }
  .sm-width-col-10 {
    width: 80.33%;
  }
  .sm-width-col-11 {
    width: 91.66%;
  }
  .sm-width-col-12 {
    width: 100%;
  }
  .social-nav-container {
    display: none;
  }
  .navigation-list {
    display: none;
  }
  .off-canvas-button {
    display: block;
  }

  .sub-link > h4 {
    font-size: 1.1em;
  }
  .slider-section {
    height: 23rem;
  }
  .break-span {
    font-size: 1.8em;
  }
  .slide-content {
    flex-direction: row;
  }
  .text-button {
    height: 100%;
    padding: 80px 25px;
  }
  .image-container {
    height: 100%;
  }
  .image-container {
    background-position: center center;
  }
  .image-one {
    background-position: center center;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: center center;
  }
  .dots-container {
    right: 44%;
  }
  .slider-button {
    top: -195px;
  }
  .slider-button::before {
    font-size: 2.5em;
  }
  .previous {
    right: 1px;
  }
  .next {
    left: 1px;
  }
}
@media all and (min-width: 768px) {
  .md-width-col-1 {
    width: 8.33%;
  }
  .md-width-col-2 {
    width: 16.66%;
  }
  .md-width-col-3 {
    width: 25%;
  }
  .md-width-col-4 {
    width: 33.33%;
  }
  .md-width-col-5 {
    width: 41.66%;
  }
  .md-width-col-6 {
    width: 50%;
  }
  .md-width-col-7 {
    width: 58.33%;
  }
  .md-width-col-8 {
    width: 66.66%;
  }
  .md-width-col-9 {
    width: 75%;
  }
  .md-width-col-10 {
    width: 80.33%;
  }
  .md-width-col-11 {
    width: 91.66%;
  }
  .md-width-col-12 {
    width: 100%;
  }
  .social-nav-container {
    display: flex;
  }
  .navigation-list {
    display: flex;
  }
  .off-canvas-button {
    display: none;
  }
  .sub-link > h4 {
    font-size: 1.1em;
  }
  .slider-section {
    height: 40rem;
  }
  .man-image {
    width: auto;
  }
  .slide-content {
    flex-direction: column-reverse;
  }
  .text-button {
    height: 30%;
  }
  .image-container {
    height: 70%;
  }
  .image-container {
    background-position: center center;
  }
  .break-span {
    font-size: 2.8em;
  }
  .slide-content {
    flex-direction: column-reverse;
  }
  .text-button {
    height: 37%;
    padding: 0px 90px;
  }
  .image-container {
    height: 63%;
  }
  .image-one {
    background-position: center center;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: center center;
    background-size: contain;
  }
  .image-container {
    background-position: center center;
  }
  .dots-container {
    right: 43%;
  }
  .slider-button {
    top: -300px;
  }
  .slider-button::before {
    font-size: 3em;
  }
}
@media all and (min-width: 992px) {
  .lg-width-col-1 {
    width: 8.33%;
  }
  .lg-width-col-2 {
    width: 16.66%;
  }
  .lg-width-col-3 {
    width: 25%;
  }
  .lg-width-col-4 {
    width: 33.33%;
  }
  .lg-width-col-5 {
    width: 41.66%;
  }
  .lg-width-col-6 {
    width: 50%;
  }
  .lg-width-col-7 {
    width: 58.33%;
  }
  .lg-width-col-8 {
    width: 66.66%;
  }
  .lg-width-col-9 {
    width: 75%;
  }
  .lg-width-col-10 {
    width: 80.33%;
  }
  .lg-width-col-11 {
    width: 91.66%;
  }
  .lg-width-col-12 {
    width: 100%;
  }
  .off-canvas-button {
    display: none;
  }
  .sub-link > h4 {
    font-size: 1.8em;
  }
  .slider-section {
    height: 45rem;
  }
  .man-image {
    width: auto;
  }
  .slide-content {
    flex-direction: row;
  }
  .text-button {
    padding: 180px 140px;
    height: 100%;
  }
  .image-container {
    height: 100%;
  }
  .image-container {
    background-position: center center;
  }
  .break-span {
    font-size: 3em;
  }
  .text-button {
    padding: 180px 120px 180px 0px;
    height: 100%;
  }
  .dots-container {
    right: 48%;
  }
  .image-one {
    background-position: center center;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: center center;
  }
}
@media all and (min-width: 1200px) {
  .xl-width-col-1 {
    width: 8.33%;
  }
  .xl-width-col-2 {
    width: 16.66%;
  }
  .xl-width-col-3 {
    width: 25%;
  }
  .xl-width-col-4 {
    width: 33.33%;
  }
  .xl-width-col-5 {
    width: 41.66%;
  }
  .xl-width-col-6 {
    width: 50%;
  }
  .xl-width-col-7 {
    width: 58.33%;
  }
  .xl-width-col-8 {
    width: 66.66%;
  }
  .xl-width-col-9 {
    width: 75%;
  }
  .xl-width-col-10 {
    width: 80.33%;
  }
  .xl-width-col-11 {
    width: 91.66%;
  }
  .xl-width-col-12 {
    width: 100%;
  }
  .slider-section {
    height: 40rem;
  }
  .break-span {
    font-size: 3.5em;
  }
  .text-button {
    padding: 180px 120px 180px 0px;
    height: 100%;
  }
  .image-one {
    background-position: center center;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: center center;
  }
}
@media all and (min-width: 1400px) {
  .xxl-width-col-1 {
    width: 8.33%;
  }
  .xxl-width-col-2 {
    width: 16.66%;
  }
  .xxl-width-col-3 {
    width: 25%;
  }
  .xxl-width-col-4 {
    width: 33.33%;
  }
  .xxl-width-col-5 {
    width: 41.66%;
  }
  .xxl-width-col-6 {
    width: 50%;
  }
  .xxl-width-col-7 {
    width: 58.33%;
  }
  .xxl-width-col-8 {
    width: 66.66%;
  }
  .xxl-width-col-9 {
    width: 75%;
  }
  .xxl-width-col-10 {
    width: 80.33%;
  }
  .xxl-width-col-11 {
    width: 91.66%;
  }
  .xxl-width-col-12 {
    width: 100%;
  }
  .break-span {
    font-size: 4em;
  }
  .text-button {
    padding: 180px 150px 180px 0px;
    height: 100%;
  }
  .image-two {
    background-position: center center;
  }
  .image-three {
    background-position: center center;
  }
}
.container {
  max-width: 1320px;
}
.container-fluid {
  width: 100%;
}
